<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.conn" connectionString="Data Source=NETSRV-DB01\SQL2012;Initial Catalog=NetRom.Practica1;User ID=PracticaUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>